<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">
        <activity
            android:name=".step_by_step_solution_prefix_to_postfix"
            android:exported="false" />
        <activity
            android:name=".step_by_step_solution_prefix_to_infix"
            android:exported="false" />
        <activity
            android:name=".step_by_step_solution_postfix_to_prefix"
            android:exported="false" />
        <activity
            android:name=".step_by_step_solution_infix_to_prefix"
            android:exported="false" />
        <activity
            android:name=".step_by_step_solution_postfix_to_infix"
            android:exported="false" />
        <activity
            android:name=".step_by_step_solution_infix_to_postfix"
            android:exported="false" />
        <activity
            android:name=".postfixToOther"
            android:exported="false" />
        <activity
            android:name=".infixToOther"
            android:exported="false" />
        <activity
            android:name=".prefixToOther"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.App.Starting"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id" />
        <meta-data
            android:name="com.google.android.gms.ads.flag.OPTIMIZE_INITIALIZATION"
            android:value="true" />
        <meta-data
            android:name="com.google.android.gms.ads.flag.OPTIMIZE_AD_LOADING"
            android:value="true" />
    </application>
</manifest>